@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Mono', monospace;
}
li {
  list-style: none;
  cursor: pointer;
}
.app {
  min-height: 100vh;
  background-color: hsl(185, 41%, 84%);
  display: flex;
  flex-direction: column;
}
.app header {
  display: flex;
  justify-content: center;
}
.app header h1 {
  margin: 52px 0 42px;
  height: 54px;
  font-size: 24px;
  letter-spacing: 0.5em;
  line-height: 27px;
  color: hsl(186, 14%, 43%);
}
.app main {
  background-color: hsl(0, 0%, 100%);
  flex: 1;
  border-radius: 20px;
  padding: 0 33px 33px;
}
.app main .left h2 {
  font-size: 15px;
  color: hsl(186, 14%, 43%);
  margin-bottom: 5px;
  margin-top: 33px;
  display: flex;
  justify-content: space-between;
}
.app main .left h2 .error-text {
  color: red;
  font-size: 12px;
  margin-left: 10px;
}
.app main .left .error-border {
  border: 2px solid red !important;
  outline: none !important;
}
.app main .left .inp-number {
  position: relative;
}
.app main .left .inp-number::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
  width: 20px;
  height: 20px;
  background: url('~@/assets/icon-dollar.svg') no-repeat;
}
.app main .left .inp-number:nth-of-type(3)::before {
  content: '';
  background: url('~@/assets/icon-person.svg') no-repeat;
}
.app main .left .inp-number input {
  border-radius: 5px;
  width: 100%;
  border: none;
  height: 49px;
  background-color: hsl(189, 47%, 97%);
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  padding: 0 18px 0 40px;
  font-size: 21px;
  font-weight: 600;
  color: hsl(183, 100%, 15%);
}
.app main .left .inp-number input::placeholder {
  color: hsl(184, 14%, 56%);
  opacity: 0.7;
}
.app main .left .inp-number input:focus {
  outline: 2px solid hsl(172, 67%, 45%);
}
.app main .left .sel-tip ul {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  gap: 17px;
  height: 177px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 25px;
  margin-top: 14px;
}
.app main .left .sel-tip ul li {
  height: 49px;
  background-color: hsl(183, 100%, 15%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.app main .left .sel-tip ul li:last-child {
  background-color: transparent;
}
.app main .left .sel-tip ul li input {
  border-radius: 5px;
  width: 100%;
  border: none;
  height: 100%;
  background-color: hsl(189, 47%, 97%);
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  padding-right: 18px;
  font-weight: 700;
  font-size: 25px;
  color: hsl(183, 100%, 15%);
}
.app main .left .sel-tip ul li input::placeholder {
  color: hsl(186, 14%, 43%);
}
.app main .cal-result {
  height: 258px;
  margin-top: 33px;
  background-color: hsl(183, 100%, 15%);
  border-radius: 15px;
  padding: 40px 25px 25px;
  color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
}
.app main .cal-result .amount {
  display: flex;
  flex: 1;
}
.app main .cal-result .amount .info {
  flex: 1;
}
.app main .cal-result .amount .info p {
  font-weight: 700;
  font-size: 18px;
}
.app main .cal-result .amount .info span {
  color: hsl(184, 14%, 56%);
  font-weight: 700;
  font-size: 15px;
}
.app main .cal-result .amount .money {
  font-size: 32px;
  color: hsl(172, 67%, 45%);
  font-weight: 700;
}
.app main .cal-result button {
  width: 100%;
  height: 49px;
  border: none;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  font-size: 20px;
  font-weight: 600;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .app {
    justify-content: center;
  }
  .app header h1 {
    margin: 0 0 42px;
    height: 54px;
    font-size: 24px;
    letter-spacing: 0.5em;
    line-height: 27px;
    color: hsl(186, 14%, 43%);
  }
  .app main {
    max-width: 922px;
    margin: 0 auto;
    display: flex;
    max-height: 482px;
  }
  .app main .left {
    padding-top: 3px;
  }
  .app main .left h2 {
    margin-top: 43px;
  }
  .app main .left .sel-tip ul {
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    height: 113px;
    width: 380px;
  }
  .app main .left .sel-tip ul li {
    width: 100%;
  }
  .app main .left .sel-tip ul li input {
    padding: 0;
  }
  .app main .cal-result {
    width: 414px;
    min-height: 418px;
    margin-left: 49px;
  }
  .app main .cal-result .amount .money {
    font-size: 48px;
  }
  .app main .cal-result button {
    margin-top: 130px;
    cursor: pointer;
  }
}
.active {
  background-color: hsl(172, 67%, 45%) !important;
  color: hsl(183, 100%, 15%);
}
.app main .cal-result .stopButton {
  background-color: hsl(186, 14%, 43%);
  cursor: default;
}
